body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffaf5;
    background: url(https://hungerbay.com/assets/images/b6.jpg) ;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #171515;
}
.logo{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.ullist{
    list-style: none;
    display: flex;
    gap: 80px;
}
li a{
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li a:hover{
    color: lightgray;
}
.hero{
    text-align: center;
    padding: 100px 20px;
}
.hero h1{
    font-size:  48px;
    margin-bottom: 20px;
    color: #c6d0db;
}
.hero p{
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(155, 163, 188);
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #5e6b7c;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 20px;
}
.btn:hover{
    background-color: rgb(100, 100, 124);
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #171515;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p{
    margin: 0;
    font-size: 16px;

}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-section h1{
    text-align: center;
    font-size: 36px;
    color: #b9b9b9;
    margin-top: 40px;
}
.menu-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.item{
    border: 1px solid #0e0a0a;
    background: rgb(144, 144, 150);
    border-radius: 10px ;
    padding: 20px;
    width: 200px;
}
.item:hover{
    padding: 35px;
    background-color: #959ba3;

}
.about-section{
    height: 400px;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;

}
.about-section h1{
    padding-top: 50px;
    margin-bottom: 20px;
}
.about-section p{
    width: 50%;
    margin: auto;
    font-size: 20px;
    line-height: 2;

}
.contact-section{
    height: 400px;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;

}
.contact-section h1{
    padding-top: 50px;
    margin-bottom: 20px;
}
.contact-section p{
    width: 50%;
    margin: auto;
    font-size: 20px;
    line-height: 2;
}