body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffaf5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6b2d2d;
}
.logo{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.ullist{
    list-style: none;
    display: flex;
    gap: 80px;
}
li a{
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li a:hover{
    color: lightgray;
}
.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: #fffaf5;
}
.hero h1{
    font-size:  48px;
    margin-bottom: 20px;
    color: #6b2d2d;
}
.hero p{
    font-size: 24px;
    margin-bottom: 30px;
    color: darkred;
}
.btn{
    padding: 15px 30px;
    background-color: #6b2d2d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
.btn:hover{
    background-color: darkred;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #6b2d2d;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p{
    margin: 0;
    font-size: 16px;

}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-section h1{
    text-align: center;
    color: #6b2d2d;
    margin-top: 40px;
}
.menu-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.item{
    border: 1px solid #6b2d2d;
    background: white;
    border-radius: 10px ;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}